<p class="text-center">
  If you have a support request (user account, site broken, etc), email support@lolidrop.org for assistance.

  You can also just message our facebook page if you have any questions/problems. 

  If you're a contributor, please check your email for an invite to our Slack; if you haven't received one, please email support@lolidrop.org requesting an invite. 

  If you want to help out with the site, email hassan@lolidrop.org. 
  You'll need some level of commitment and decent experience with Laravel.
</p>
{{outlet}}
