<div class="row">
  {{#each model as |feature|}}
    <div class="col-4 d-inline">
      {{feature.name}}
    </div>
  {{/each}}
</div>

<form {{action "addFeature" on="submit"}}>
  <label>Name: </label>
  {{input value=name class="form-control"}}
  <button type="submit" class="btn btn-primary">Add Feature</button>
</form>

{{outlet}}
