<div class="row">
  <div class="col text-right">
    {{#bs-button type="primary" onClick=(action "openModal")}}Add Feature+{{/bs-button}}
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm table-bordered">
      <tr>
        <td>Feature</td>
      </tr>
      {{#each model as |feature|}}
        <tr>
          <td>
            {{feature.name}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
{{#bs-modal open=isModalOpen onHidden=(action "modalClosed")}}
  <div class="modal-body">
    <form {{action "addFeature" on="submit"}}>
      <label>Name: </label>
      {{input value=name class="form-control"}}
      <button type="submit" class="btn btn-success">Add Feature</button>
    </form>
  </div>
{{/bs-modal}}

{{outlet}}
