<div class="row">
  <div class="col">
    <table class="table table-sm table-bordered">
      <tr>
        <td>Type</td>
      </tr>
      {{#each model as |type|}}
        <tr>
          <td>
            {{type.name}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<form {{action "addType" on="submit"}}>
  <label>Name: </label>
  {{input value=name class="form-control"}}
  <button type="submit" class="btn btn-primary">Add Type</button>
</form>

{{outlet}}
